.todo-container {
  font-size: 1.2rem;
  // margin-bottom: 1.5rem;
  background-color: rgb(36, 36, 36);
  padding: 1rem;
  margin: 1rem 0;
  button {
    background: rgb(148, 54, 54);
    padding: .2rem .4rem;
    margin-top: .5rem;
  }
}
